:root {
    /* Fonts */
    --primary-font: "Raleway", sans-serif;
    --secondary-font: "Montserrat", sans-serif;

    /* Colors */
    --background-color: #191919;

    --primary-color: #1C1C1C;
    --secondary-color: #404040;
    --tertiary-color: #555555;
    --quaternary-color: #6C6C6C;
    --quinary-color: #A4A4A4;
    --senary-color: #B3B3B3;
    --extra-color-1: #222222;

    --base-color: #FFFFFF;
    --base-color_alt: #DFDFDF;
}

/* General */

body {
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

/* Header */

.header {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex: 0.85;
    background-color: #ff6f6f;
}

.title-subtitle {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 60%;
    background-color: purple;
}

.logo-title_wrapper {
    display: flex;
    flex: 2;
    padding: 0.85em 2em;
    background-color: lightblue;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0.4;
    background-color: yellow;
}

.title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex: 2;
    background-color: darkorange;
}

.subtitle {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0.8;
    background-color: #5e0000;
}

/* Main */

.main {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex: 2;
    background-color: #6767ff;
}

/* Conversion - Box */

.conversion_box {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 90%;
    background-color: beige;
}

/* Conversion - Sections */

.converstion_title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    background-color: wheat;
}

.conversion_options {
    display: flex;
    justify-content: space-between;
    gap: 45px;
    flex: 2;
    background-color: plum;
}

.conversion_result {
    flex: 4;
    background-color: greenyellow;
}

/* Conversion - Options */

.currency_wrapper {
    flex: 1;
    background-color: mediumslateblue;
}

.swap_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.currency-add_wrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: #cac0ff;
}

/* Conversion -- Wrapper */

.currency_detail {

}

.currency_box {
    width: 100%;
    height: 40%;
    background-color: #820064;
}

/* Credits */

.credits {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0.25;
    background-color: #71ff71;
}