:root {
    /* Fonts */
    --primary-font: "Raleway", sans-serif;
    --secondary-font: "Montserrat", sans-serif;

    /* Colors */
    --background-color: #191919;

    --primary-color: #1C1C1C;
    --secondary-color: #404040;
    --tertiary-color: #555555;
    --quaternary-color: #6C6C6C;
    --quinary-color: #A4A4A4;
    --senary-color: #B3B3B3;
    --extra-color-1: #222222;

    --base-color: #FFFFFF;
    --base-color_alt: #DFDFDF;
}

/* General */

body {
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

/* Divisions */

.header {
    flex: 1;
}

.main {
    flex: 1;
}

.credits {
    flex: 1;
}

/* Header */

.title-subtitle {

}