:root {
    /* Fonts */
    --primary-font: "Raleway";
    --secondary-font: "Montserrat";

    /* Colors */
    --background-color: #191919;

    --primary-color: #1C1C1C;
    --secondary-color: #404040;
    --tertiary-color: #555555;
    --quaternary-color: #6C6C6C;
    --quinary-color: #A4A4A4;
    --senary-color: #B3B3B3;
    --extra-color-1: #222222;

    --base-color: #FFFFFF;
    --base-color_alt: #DFDFDF;
}

/* General */

* {
    color: var(--base-color);
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

button {
    background: inherit;
    border: none;
    padding: 0;
    margin: 0;
    outline: inherit;
    cursor: pointer;
}

/* Header */

.header {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex: 0.85;
}

.title-subtitle {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: auto;
    margin-bottom: 26px;
}

.logo-title_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    flex: 2;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75px;
}

.title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: var(--primary-font), sans-serif;
    font-size: 3.25rem;
    font-weight: 800;
}

.subtitle {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0.8;
    color: var(--senary-color);
    font-family: var(--primary-font), sans-serif;
    font-size: 0.9rem;
    font-weight: 600;
}

/* Main */

.main {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex: 2;
}

/* Conversion - Box */

.conversion_box {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 90%;
    background-color: var(--primary-color);
    border: 2px solid var(--secondary-color);
    border-radius: 30px;
}

/* Conversion - Sections */

.converstion_title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0.4em;
    flex: 1;
    font-family: var(--secondary-font), sans-serif;
    font-size: 1.85rem;
    font-weight: 700;
}

.conversion_options {
    display: flex;
    justify-content: space-between;
    padding: 0 3em 2em;
    gap: 45px;
    flex: 2;
}

.conversion_result {
    display: flex;
    flex-direction: column;
    padding: 0 3em 2.8em;
    flex: 4;
    background-color: greenyellow;
}

/* Conversion -- Options */

.currency_wrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
    flex: 1;
}

.swap_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em 0 3.9em;
}

.currency-add_wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1;
}

/* Conversion --- Wrapper */

.currency_detail {
    color: var(--quaternary-color);
    font-family: var(--primary-font), sans-serif;
    font-size: 0.9rem;
    font-weight: 500;
}

.currency_box {
    display: flex;
    width: 100%;
    height: 40%;
    background-color: var(--primary-color);
    border: 2px solid var(--secondary-color);
    border-radius: 10px;
}

.currency_abbreviation {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0.55;
    border-right: 2px solid var(--secondary-color);
    color: var(--tertiary-color);
    font-family: var(--primary-font), sans-serif;
    font-size: 1.1rem;
    font-weight: 600;
}

.currency {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 2;
    padding: 0 0.625em;
    border-radius: 0 10px 10px 0;
}

.currency_text {
    color: var(--base-color_alt);
    font-family: var(--primary-font), sans-serif;
    font-size: 1.1rem;
    font-weight: 500;
}

.currency_image {
    height: 70%;
    filter: invert(100%) sepia(5%) saturate(1063%) hue-rotate(175deg) brightness(118%) contrast(75%);
}

/* Conversion --- Swap */

#swap {
    width: 100%;
    filter: invert(31%) sepia(0%) saturate(28%) hue-rotate(158deg) brightness(94%) contrast(80%);
}

/* Conversion --- Add */

#add {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.add_image {

}

.add_text {

}

/* Conversion -- Result */

.input_box {
    display: flex;
    flex: 0.55;
    background-color: darkslategray;
}

.result {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 2;
    gap: 15px;
    background-color: darkmagenta;
}

/* Conversion --- Input Box */

.input_money-symbol {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0.31;
    background-color: thistle;
}

.input_label {
    flex: 3;
    background-color: gold;
}

#input {

}

/* Conversion --- Result */

.result_description {

}

#result_value {

}

.result_description {

}

/* Credits */

.credits {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0.25;
}